# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

In [45]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.9.2

## Dicionários

In [46]:
# Isso é uma lista
estudantes_lst = ["Mateus", 24, "Fernanda", 22, "Tamires", 26, "Cristiano", 25]

In [47]:
estudantes_lst

['Mateus', 24, 'Fernanda', 22, 'Tamires', 26, 'Cristiano', 25]

In [48]:
# Isso é um dicionário
estudantes_dict = {"Mateus":24, 
                   "Fernanda":22, 
                   "Tamires":26, 
                   "Cristiano":25}

In [49]:
estudantes_dict

{'Mateus': 24, 'Fernanda': 22, 'Tamires': 26, 'Cristiano': 25}

In [50]:
type(estudantes_dict)

dict

In [35]:
# Ver valor da chave "Mateus"
estudantes_dict["Mateus"]

24

In [36]:
# Acrescentar novo chave valor
estudantes_dict["Pedro"] = 23

In [37]:
estudantes_dict["Pedro"]

23

In [38]:
estudantes_dict

{'Mateus': 24, 'Fernanda': 22, 'Tamires': 26, 'Cristiano': 25, 'Pedro': 23}

In [39]:
estudantes_dict["Tamires"]

26

In [40]:
# Limpa o conteúdo do dicionário
estudantes_dict.clear()

In [41]:
estudantes_dict

{}

In [42]:
# Deleta o dicionário
del estudantes_dict

In [43]:
estudantes_dict

NameError: name 'estudantes_dict' is not defined

In [51]:
estudantes = {"Mateus":24, "Fernanda":22, "Tamires":26, "Cristiano":25}

In [52]:
estudantes

{'Mateus': 24, 'Fernanda': 22, 'Tamires': 26, 'Cristiano': 25}

In [53]:
len(estudantes)

4

In [54]:
# Mostra as chaves
estudantes.keys()

dict_keys(['Mateus', 'Fernanda', 'Tamires', 'Cristiano'])

In [55]:
# Mostra os valores
estudantes.values()

dict_values([24, 22, 26, 25])

In [56]:
# Mostra chave e valor
estudantes.items()

dict_items([('Mateus', 24), ('Fernanda', 22), ('Tamires', 26), ('Cristiano', 25)])

In [57]:
estudantes2 = {"Maria":27, 
               "Erika":28, 
               "Milton":26}

In [58]:
estudantes2

{'Maria': 27, 'Erika': 28, 'Milton': 26}

In [59]:
estudantes.update(estudantes2)

In [60]:
estudantes

{'Mateus': 24,
 'Fernanda': 22,
 'Tamires': 26,
 'Cristiano': 25,
 'Maria': 27,
 'Erika': 28,
 'Milton': 26}

In [61]:
dic1 = {}

In [62]:
dic1

{}

In [63]:
dic1["key_one"] = 2

In [64]:
print(dic1)

{'key_one': 2}

In [65]:
dic1[10] = 5

In [66]:
dic1

{'key_one': 2, 10: 5}

In [67]:
dic1[8.2] = "Python"

In [68]:
dic1

{'key_one': 2, 10: 5, 8.2: 'Python'}

In [69]:
dic1["teste"] = 5

In [70]:
dic1

{'key_one': 2, 10: 5, 8.2: 'Python', 'teste': 5}

In [71]:
dict1 = {}

In [72]:
dict1

{}

In [73]:
dict1["teste"] = 10

In [74]:
dict1["key"] = "teste"

In [75]:
# Atenção, pois chave e valor podem ser iguais, mas representam coisas diferentes.
dict1

{'teste': 10, 'key': 'teste'}

In [76]:
dict2 = {}

In [77]:
dict2["key1"] = "Big Data"

In [78]:
dict2["key2"] = 10

In [79]:
dict2["key3"] = 5.6

In [80]:
dict2

{'key1': 'Big Data', 'key2': 10, 'key3': 5.6}

In [81]:
a = dict2["key1"]

In [82]:
b = dict2["key2"]

In [83]:
c = dict2["key3"]

In [84]:
a, b, c

('Big Data', 10, 5.6)

In [85]:
# Dicionário de listas
dict3 = {'key1':1230,'key2':[22,453,73.4],'key3':['leite','maça','batata']}

In [86]:
dict3

{'key1': 1230, 'key2': [22, 453, 73.4], 'key3': ['leite', 'maça', 'batata']}

In [89]:
dict3["key1"]

1230

In [87]:
dict3['key2']

[22, 453, 73.4]

In [92]:
dict3["key2"][1]

453

In [93]:
# Acessando um item da lista, dentro do dicionário
dict3['key3'][0].upper()

'LEITE'

In [94]:
# Operações com itens da lista, dentro do dicionário
var1 = dict3['key2'][0] - 2

In [95]:
var1

20

In [96]:
# Duas operações no mesmo comando, para atualizar um item dentro da lista
dict3['key2'][0] -= 2

In [97]:
dict3

{'key1': 1230, 'key2': [20, 453, 73.4], 'key3': ['leite', 'maça', 'batata']}

### Criando dicionários aninhados

In [108]:
# Criando dicionários aninhados
dict_aninhado = {'key1':
                 {'key2_aninhada':
                  {'key3_aninhada':'Dict aninhado em Python'}
                 }
                }

In [109]:
dict_aninhado

{'key1': {'key2_aninhada': {'key3_aninhada': 'Dict aninhado em Python'}}}

In [110]:
dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

'Dict aninhado em Python'

In [131]:
# Dicionário de listas
dict3 = {'key1':1230,'key2':[22,453,73.4],'key3':['leite','maça','batata']}

In [133]:
dict3

{'key1': 1230, 'key2': [22, 453, 73.4], 'key3': ['leite', 'maça', 'batata']}

In [134]:
# Deleta chaves
del dict3["key1"]

In [135]:
dict3

{'key2': [22, 453, 73.4], 'key3': ['leite', 'maça', 'batata']}

In [136]:
# Deleta dicionário
del dict3

In [137]:
dict3

NameError: name 'dict3' is not defined

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>